name: Lint

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  DEVELOPER_DIR: /Applications/Xcode_26.3.app/Contents/Developer

jobs:
  lint:
    name: Lint
    runs-on: macos-latest
    permissions:
      contents: read
    steps:
    - name: Checkout source
      uses: actions/checkout@v6
    - name: Download swiftlint binary
      run: swift package resolve
    - name: Lint
      run: >
        "$(find ".build/artifacts/swiftlint" -path "*macos*" -type f -name swiftlint -perm +111 -print -quit)"
        lint --strict --reporter github-actions-logging
